<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.andonprototype">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        android:fullBackupContent="true">
        <activity android:name=".Exhibition_feature.MachineStatusRepair"
            android:label="Machine Status Repair">
        </activity>
        <activity android:name=".Exhibition_feature.Survey" />
        <activity
            android:name=".Breakdown.BreakdownHistory"
            android:label="Breakdown History" />
        <activity android:name=".ui.Report.DetailReport" />
        <activity
            android:name=".Dashboard.MachineDashboard"
            android:label="@string/machine_dashboard_title"
            android:screenOrientation="userLandscape"/>
        <activity android:name=".barcodescanner.SimpleScanner" />
        <activity android:name=".ui.ProblemList.ProblemWaitingList" />
        <activity android:name=".Breakdown.DetailBreakdownPage2" />
        <activity android:name=".Exhibition_feature.MachineStatusBreakdown"/>
        <activity
            android:name=".Dashboard.MainDashboard"
            android:label="@string/main_dashboard" />

        <activity android:name=".Dashboard.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

            <activity android:name=".drawer_ui.Settings"/>
            <activity android:name=".drawer_ui.Help"/>
            <activity android:name=".drawer_ui.Logout"/>

        <activity android:name=".Background.SwipeDismissBaseActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.andonprototype.Dashboard.MainDashboard" />
        </activity>
    </application>

</manifest>